body{
    background-image: url('https://cdn.wallpapersafari.com/1/97/co341S.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.card{
    background:#101820;
}
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: rgba(30, 30, 30, 0.8); /* Fondo gris muy oscuro */
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.3); /* Sombra cian sutil */
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(0, 150, 200); /* Color cian oscuro */
    border-radius: 20px;
    border: 1px solid rgb(0, 100, 150); /* Borde cian más oscuro */
}
